*/target/
/bin/
test-output
.DS_Store
.idea
.gradle
build
*.ipr
*.iws
*.iml
*.eml
*.orig
.idea/
log/
atlassian-ide-plugin.xml
*.log
*.rdb
*.idea
*.pyc
*.mvn
*mvnw
*.cmd
tugboat_logs/
doc/
*/target
temp
out/
*~
/pom.xml.releaseBackup
/release.properties
/nbproject/
/pom.xml.versionsBackup
/.editorconfig
/test.out
nb-configuration.xml
*/report/
*/reports/
/lib/
/classes/
/class/
*/config/cucumber.properties
*/config/uiautomation.properties
*/config/local.properties
*/failed/

# JRebel config
rebel.xml